.programma {
    position: relative;
    &__img {
        margin-bottom: 12.7rem;
    }
    &__title {
        margin-bottom: 5.8rem;
    }
    &__content {
        margin: auto auto 12.9rem;
        text-align: center;
    }
    &__text {
        margin-bottom: 6.4rem;
        p {
            margin-bottom: 0;
        }
    }
    &__link {
        margin: 0 auto;
    }
    &__img,
    &__after {
        position: relative;
        display: block !important;
        height: 32rem;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        overflow: hidden;
    }
}