.programma {
    &__img {
        margin-bottom: 12.7rem;
    }
    &__title {
        margin-bottom: 5.8rem;
    }
    &__content {
        margin: auto;
        text-align: center;
    }
    &__text {
        margin-bottom: 7.5rem;
        p {
            margin-bottom: 0;
        }
    }
    &__link {
        margin: 0 auto;
        text-align: center;
        font-family: 'Manrope';
        font-size: 2.4rem;
        line-height: 3.8rem;
        font-weight: 800;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}