.text {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.8rem;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    @media screen and (max-width: 992px) {
        line-height: 1.3;
    }
    p {
        margin-bottom: 6.3rem;
    }
}